.headAndTab{width: 100%;}
.header{width: 100%;height: 2.3rem;line-height: 2.3rem;display: flex;}
.header .city{font-size: 0.7rem;width: 2.65rem;height: 100%;text-align: center;padding: 0 0.2rem;margin-left: 0.2rem;}
.header .city span{width: 0.55rem;height: 0.3rem;display: inline-block;background: url("../img/arrow-bottom.png");background-size: 100% 100%;}
.header .search{width: 12.65rem;height: 1.4rem;position: relative;margin-top: -0.1rem;}
.header .search input{width: 100%;height: 100%;margin: 0.3rem;border: 0.005rem solid #cccccc;border-radius: 0.7rem;font-size: 0.65rem;padding-left: 1.3rem;}
.header .search span{display: inline-block;width: 0.6rem;height: 0.6rem;background: url("../img/icon_search_find@2x.png");background-size: 100% 100%;position: absolute;bottom: -0.25rem;left: 0.8rem;}
.header .select{font-size: 0.7rem;width: 2.65rem;height: 100%;text-align: center;margin-left: 0.3rem;}
.header .select span{width: 0.3rem;height: 0.55rem;display: inline-block;background: url("../img/arrow-right.png");background-size: 100% 100%;}

#tab{width: 100%;height: 1.45rem;display: flex;z-index: 99;}
#tab li{width: 25%;height: 100%;line-height: 1.45rem;text-align: center;font-size: 0.14rem;color: #555;background-color: #fff;}
#tab li a{font-size: 0.7rem;}
#tab>li:nth-child(1){
	border-bottom: 2px solid #333;
}
.content{
	height: 80%;
}
.content>div{
	overflow: auto;
	height: 100%;
}
.twindow{
	width: 100%;
	height: 2.5rem;
	background: url(../img-h/lujiao.png) 1.9rem center no-repeat rgba(255,255,255,0.95);
	background-size: auto 1.75rem;
	position: fixed;
	left: 0;
	bottom: 0;
}
.close{
	width: 1.9rem;
	height: 100%;
	background: url(../img-h/close.png) 0.5rem center no-repeat;
	background-size: auto 0.5rem;
}
.openApp{
	width: 4.5rem;
	height: 1.75rem;
	line-height: 1.75rem;
	border-radius: 0.3rem;
	color: #fff;
	text-align: center;
	font-size: 0.7rem;
	background-color: #cba162;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
.filter{
	width: 100%;
	height: 4.5rem;
	background-color: red;
}
.filterHeader{
	width: 100%;
	height: 2.25rem;
	display: flex;
	font-size: 0.85rem;
	color: #555;
}
.filterHeader>p{
	width: 25%;
	height: 100%;
	line-height: 2.25rem;
}
.filterHeader>p:nth-child(1){
	padding-left: 1rem;
	font-size: 1rem;
}
.filterHeader>p:nth-child(3){
	padding-left: 3rem;
	font-size: 1rem;
}
.filterHeader>ul{
	width: 50%;
	height: 100%;
	display: flex;
}
.filterHeader>ul>li{
	width: 50%;
	height: 100%;
}
.filterHeader>ul>li>a{
	display: block;
	width: 1.7rem;
	height: 100%;
	line-height: 2.25rem;
	margin: 0 auto; 
}
.selectAndsort{
	width: 100%;
	height: 2.25rem;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	display: flex;
}
.selectAndsort>li{
	width: 33.33%;
	height: 100%;
	padding-top: 0.7rem;
}
.selectAndsort>li>span{
	display: block;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	background-image: url(../img-h/todown.png);
	background-size: 0.5rem auto;
	padding-right: 1.75rem;
	background-position: 4rem center;
	background-repeat: no-repeat;
	font-size: 0.7rem;
	border-right: 1px solid #999;
}
