@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
img{
	border: none;
}
a{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
body{
	font:1rem Arial,Verdana,Sans-serif;
	color: #333;
}
body,html{
	width: 100%;
	height: 100%;
}
