<div class="cityContent">
	<div class="chooseCityTitle"><a ui-sref="cate">X</a>选择城市</div>
	<div class="cityContainer">
		<ul class="cityList">
			<li>
				<div class="myPlace">
					<span>当前城市:</span>
					<span class="place"></span>
				</div>
			</li>
		</ul>
		<ul class="cityCategory">
			<li>
				<p>热门</p>
				<div><a ui-sref="city" ng-repeat="(i,obj) in hotCityArr" ng-click="showPlace(i)">{{obj}}</a></div>
			</li>
			<li>
				<p>A~G</p>
				<div><a ui-sref="city" ng-repeat="(i,obj) in agCityArr" ng-click="showPlace(i)">{{obj}}</a></div>
			</li>
			<li>
				<p>H~N</p>
				<div><a ui-sref="city" ng-repeat="(i,obj) in hnCityArr" ng-click="showPlace(i)">{{obj}}</a></div>
			</li>
			<li>
				<p>O~T</p>
				<div><a ui-sref="city" ng-repeat="(i,obj) in otCityArr" ng-click="showPlace(i)">{{obj}}</a></div>
			</li>
			<li>
				<p>U~Z</p>
				<div><a ui-sref="city" ng-repeat="(i,obj) in uzCityArr" ng-click="showPlace(i)">{{obj}}</a></div>
			</li>
		</ul>
	</div>
</div>