<!--筛选页面-->
	<div class="filter">
		<div class="filterHeader">
			<p><a ui-sref="cate"><i class="fa fa-angle-left" aria-hidden="true"></i></a></p>
			<ul>
				<li ng-repeat='(i,obj) in urlParamValuesArr' ng-click='twoss(i)'><a>{{obj.name}}</a></li><!--商户商品-->
			</ul>
			<p><i class="fa fa-search" aria-hidden="true"></i></p>
		</div>
		<ul class="selectAndsort">
			<li>
				<span>全部</span>
			</li>
			<li>
				<span>分类筛选</span>
			</li>
			<li>
				<span>智能排序</span>
			</li>
		</ul>
		<div class="all">
			<ul>
				<li ng-repeat='(i,obj) in fourArr' style="background-image: url({{obj.icon}});" ng-click='fourArrchange(i);changecolor(i);diffty(i,obj.name)'>{{obj.name}}</li>
			</ul>
			<ul>
				<li ng-repeat='(i,obj) in fourMoreArr' ng-click='changestyle(i,obj.name)'>{{obj.name}}</li>
			</ul>
		</div>
		<div class="all1">
			<div class="unlimited" ng-init='origin'>
				<div class="fourunlimited" ng-repeat='(k,obj) in fourunlimitedsArr'>
					<h3 style="background-image:url({{obj.icon}})">{{obj.name}}</h3>
					<ul>
						<li ng-repeat="(i,obj1) in obj.urlParamValues" ng-click="sxstyle(i,k,obj1.name)">{{obj1.name}}</li>
					</ul>
				</div>
			</div>
			<div class="filter_btn">
				<a class="reset" ng-click="reset();orderStyle='smart'">重置</a>
				<a class="ok" ng-click='ok()'>确定</a>
			</div>
		</div>
		<div class="all2">
			<ul>
				<!--<li ng-repeat='(i,obj) in smartsortArr' ng-click="smartstyle(i);orderStyle='productInfo.price'"><i style="background-image: url({{obj.icon}});"></i><span>{{obj.name}}</span></li>-->
				<li ng-click="orderStyle='smart'"><i style="background-image: url({{smartsortArr[0].icon}});"></i><span>{{smartsortArr[0].name}}</span></li>
				<li><i style="background-image: url({{smartsortArr[1].icon}});"></i><span>{{smartsortArr[1].name}}</span></li>
				<li><i style="background-image: url({{smartsortArr[2].icon}});"></i><span>{{smartsortArr[2].name}}</span></li>
				<li><i style="background-image: url({{smartsortArr[3].icon}});"></i><span>{{smartsortArr[3].name}}</span></li>
				<li ng-click="orderStyle='productInfo.price'"><i style="background-image: url({{smartsortArr[4].icon}});"></i><span>{{smartsortArr[4].name}}</span></li>
				<li ng-click="orderStyle='-productInfo.price'"><i style="background-image: url({{smartsortArr[5].icon}});"></i><span>{{smartsortArr[5].name}}</span></li>
			</ul>
		</div>
	</div>
	<ul class="storesss" ng-init="filterStyle">
			<li ng-repeat="obj in selectArr | orderBy:orderStyle | filter:filterStyle" ng-init="orderStyle='smart'">
				<a>
					<div><img src="{{obj.productInfo.picUrl}}"/></div>
					<div>
						<h3>{{obj.productInfo.hostName}}</h3>
						<p><span>{{obj.productInfo.businessesDistrict}}</span>·<span>{{obj.productInfo.cuisineStyle}}</span></p>
						<span class="average">人均:<span class="money">{{obj.productInfo.price}}</span></span>
						<div>套餐</div>
					</div>
				</a>
			</li>
		</ul>