#content{width: 100%;height: auto;overflow: auto;background: #f5f5f5;}
/*轮播图*/
.swiper-container {
    width: 100%;
    height: 9.675rem;
    margin: 0.3rem 0 0.7rem 0;
}
.swiper-slide{width: 100%;height: 100%;}
.swiper-slide img{width: 100%;height: 100%;}
.swiper-pagination>span{width: 0.22rem;height: 0.22rem;border-radius: 50%;}
.swiper-pagination-bullet-active{background-color: #ffffff;box-shadow: 0 0 2px #ccc;}

/*店铺分类*/
.shopType{width: 100%;height: 24.847rem;padding: 1rem 0.6rem;background: #ffffff;}
.top{text-align: center;margin-bottom: 0.8rem;}
.title{font-size: 0.85rem;}
.viceTitle{font-size: 0.5rem;color: grey;}
.shopImg{width: 100%;height: 18.647rem;}
.shopImg ul{display: flex;justify-content: space-around;flex-wrap: wrap;}
.shopImg li{width: 8.375rem;margin-bottom: 0.85rem;}
.shopImg li img{width: 100%;height: 5.247rem;border-radius: 0.2rem;}
.shopImg li p{width: 100%;height: 0.9rem;line-height: 0.9rem;}
.shopImg li .p1{font-size: 0.7rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.shopImg li .p2{font-size: 0.5rem;color: grey;}
.shopImg li .p3{font-size: 0.7rem;color: rgb(100,105,105);}
.seeMore{width: 100%;height: 2.65rem;line-height: 2.65rem;border-bottom: 0.005rem solid #f5f5f5;font-size: 0.75rem;text-align: center;}

/*优选店铺*/
.box{margin-top: 0.7rem;width: 100%;height: auto;}
.box .shopInfo{width: 100%;height: 19.95rem;background: #ffffff;}
.logoAndName{width: 100%;height: 3.5rem;padding: 0.8rem;display: flex;line-height: 1.9rem;}
.logoAndName img{width: 2rem;height: 2rem;margin-right: 0.8rem;}
.shopPic{width: 100%;height: 11.7rem;}
.shopPic img{width: 100%;height: 100%;}
.joinShop{width: 100%;height: 4.75rem;padding: 0.8rem;border-bottom: 0.005rem solid #cccccc;}
.joinShop .p1{font-size: 0.8rem;line-height: 1.2rem;margin-bottom: 0.4rem;}
.joinShop .p2{font-size: 0.7rem;}
.joinShop .p2 .s2{float: right;}
.joinShop .p2 .s2 a{color: rgb(243,136,98);}

/*查看更多*/
.seeMore{width: 100%;height: 2.1rem;text-align: center;line-height: 2.1rem;font-size: 0.7rem;background: #ffffff;}
.seeMore span{width: 0.8rem;height: 0.4rem;display: inline-block;background: url("../../img/arrow-bottom.png");background-size: 100% 100%;}

/*关于我们*/
.aboutUs{width: 100%;height: 10.6rem;padding: 1.3rem 0;}
.aboutUs div{width: 100%;height: 2.25rem;}
.aboutUs ul{padding: 0 2.3rem;}
.aboutUs ul li{float: left;width: 4.65rem;height: 2.25rem;line-height: 2.25rem;text-align: center;font-size: 0.7rem;}
.aboutUs ul li span{float: right;}
.aboutUs .app{width: 100%;height: 2rem;display: flex;justify-content: space-around;padding: 0 2rem;margin: 0.85rem 0 1.3rem 0;}
.aboutUs img{width: 6.6rem;height: 2rem;display: inline-block;}
.aboutUs .copyright{width: 100%;height: 1.6rem;font-size: 0.7rem;text-align: center;}
.aboutUs .copyright p:last-child{color: #cccccc;font-size: 0.5rem;margin-top: 0.1rem;}