<div id="content">
    <!--轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="obj in imgSwiperArr"><img src="{{obj.picUrl}}"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--店铺分类-->
    <div class="shopType" ng-repeat="(i,obj) in allInfoArr">
        <div class="top">
            <p class="title">{{obj.title}}</p>
            <p class="viceTitle">{{obj.viceTitle}}</p>
        </div>
        <div class="shopImg">
            <ul><li ng-repeat="obj1 in obj.list">
                    <a ui-sref="shopDetail">
                        <img src="{{obj1.icon}}">
                        <p class="p1">{{obj1.title}}</p>
                        <p class="p2">{{obj1.bdAndCs}}</p>
                        <p class="p3">{{obj1.price}}</p>
                    </a>
            </li></ul>
        </div>
        <a ui-sref="catedetail"><div class="seeMore">{{obj.contentsNumStr}} ></div></a>
    </div>
    <!--优选店铺-->
    <div class="box">
        <div class="shopInfo" ng-repeat="obj in allShopArr">
            <div class="logoAndName">
                <img src="{{obj.logoUrl}}">
                <p>{{obj.hostName}}</p>
            </div>
            <div class="shopPic"><img src="{{obj.picUrl}}"/></div>
            <div class="joinShop">
                <p class="p1">{{obj.highLigth}}</p>
                <p class="p2">{{obj.businessesDistrict}} <span>|</span> {{obj.cuisineStyle}}<span class="s2"><a href="#">进店逛逛 ></a></span></p>
            </div>
        </div>
    </div>
    <!--查看更多-->
    <div class="lookMore"><a href="javascript:void(0)">查看更多 <span></span></a></div>
    <!--关于我们-->
    <div class="aboutUs">
        <div>
            <ul>
                <li><a href="javascript:void(0)">首页<span>|</span></a></li>
                <li><a href="javascript:void(0)">订单<span>|</span></a></li>
                <li><a href="javascript:void(0)">登录</a></li>
            </ul>
        </div>
        <div class="app">
            <img src="img/icon_apple@2x.png"/>
            <img src="img/icon_android@2x.png"/>
        </div>
        <div class="copyright">
            <p>关于我们</p>
            <p>Copyright YHOUSE moblie</p>
        </div>
    </div>
    <div ui-view></div>
</div>
