.swiper-container{
	width: 100%;
	height: 9.6rem;
	margin-bottom: 0.8rem;
}
.swiper-wrapper{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	width: 100%;
	height: 100%;
}
.swiper-slide>img{
	width: 100%;
	height: 100%;
}
.lookcontent{
	width: 100%;
	background-color: #F4F4F4;
	padding-top: 0.3rem;
}
.meal{
	width: 100%;
}
.meal>li{
	width: 100%;
	background-color: #fff;
	text-align: center;
	padding-bottom: 1rem;
}
.meal>li>h3{
	width: 100%;
	height: 2.25rem;
	line-height: 1rem;
	text-align: center;
	font-size: 1rem;
	padding-top: 1rem;
	font-weight: 400;
	font-family: inherit;
	color: #111;
}
.meal>li>h4{
	width: 100%;
	height: 1rem;
	font-size: 0.6rem;
	margin-bottom: 0.8rem;
	color: #555;
	text-align: center;
}
.fourmeal{
	width: 100%;
	padding: 0 0.4rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.fourmeal>li{
	width: 50%;
	height: 9.3rem;
	padding: 0 0.2rem;
}
.pic{
	width: 100%;
	height: 5.2rem;
	margin-bottom: 0.1rem;
	background-color: red;
	
}
.pic>img{
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
}
.desc{
	width: 100%;
	height: 3.75rem;
	color: #555555;
	font-size: 0.6rem;
}
.p1,.p3{
	width: 100%;
	height: 1.1rem;
	line-height: 1.1rem;
}
.p2{
	width: 100%;
	height: 0.8rem;
}
.p1{
	color: #111;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.5rem;
}
.p2{
	color: #555;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.3rem;
}
.p3{
	color: #555;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.3rem;
}
.seller{
	width: 3.45rem;
	height: 0.8rem;
	text-align: center;
	color: #111;
	font-size: 0.7rem;
	padding-right: 0.55rem;
	background: url(../../img-h/toright.png) right center no-repeat;
	background-size:0.3rem auto;
}
.detail{
	width: 100%;
}
.detail>li{
	width: 100%;
	height: 20rem;
	background: #fff;
	position: relative;
	margin-bottom: 0.1rem;
}
.logo{
	width: 100%;
	height: 3.5rem;
	padding: 0 0.75rem 0 3.5rem;
}
.left{
	width: 2rem;
	height: 2rem;
	margin-right: 0.75rem;
	float: left;
	position: absolute;
	left: 3rem;
	top: 0.8rem;
}
.left>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.right{
	width: 11.5rem;
	height: 3.5rem;
	float: right;
}
.right>h2{
	width: 100%;
	height: 100%;
	line-height: 3.5rem;
	text-align: left;
	font-weight: 700;
	font-size: 0.9rem;
	color: #111;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.grids{
	width: 100%;
	height: 11.7rem;
}
.grids>img{
	width: 100%;
	height: 100%;
}
.desc2{
	width: 100%;
	height: 4.75rem;
	padding: 0.35rem .75rem 1.4rem;
	position: relative;
}
.desc2>p:nth-child(1){
	width: 17.25rem;
	height: 1.55rem;
	line-height: 1.55rem;
	font-size: 0.85rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #111;
}
.desc2>p:nth-child(2){
	width: 17.25rem;
	height: 1.45rem;
	line-height: 1.45rem;
	font-size: 0.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #111;
}
.desc2>span{
	color: #cba162;
	font-size: 0.7rem;
	position: absolute;
	left: 14rem;
	top: 2.2rem;
}
.lookmore{
	width: 100%;
	height: 2.1rem;
	line-height: 2.1rem;
	font-size: 0.7rem;
	color: #555;
	text-align: center;
	background-color: #fff;
}
.aboutUs{width: 100%;height: 10.6rem;padding: 1.3rem 0;}
.aboutUs div{width: 100%;height: 2.25rem;}
.aboutUs ul{padding: 0 2.3rem;}
.aboutUs ul li{float: left;width: 4.65rem;height: 2.25rem;line-height: 2.25rem;text-align: center;font-size: 0.7rem;}
.aboutUs ul li span{float: right;}
.aboutUs .app{width: 100%;height: 2rem;display: flex;justify-content: space-around;padding: 0 2rem;margin: 0.85rem 0 1.3rem 0;}
.aboutUs img{width: 6.6rem;height: 2rem;display: inline-block;}
.aboutUs .copyright{width: 100%;height: 1.6rem;font-size: 0.7rem;text-align: center;}
.aboutUs .copyright p:last-child{color: #cccccc;font-size: 0.5rem;margin-top: 0.1rem;}