<div id="content">
    <div class="title">
        <a ui-sref="ploy"><i class="fa fa-chevron-left"></i></a>
        <p>专题详情</p>
        <a ui-sref="ploy"><i class="fa fa-home"></i></a>
    </div>
    <div class="headImg">
        <img lazy-src="{{headArr.picUrl}}"/>
    </div>
    <div class="headMsg"><p ng-repeat="obj in des">{{obj.innerHTML}}</p></div>
    <div class="shopInfo" ng-repeat="obj in shopArr">
        <div class="shopImg"><img src="{{obj.picUrl}}"/></div>
        <div class="shadow">
            <p>{{obj.hostName}}</p>
            <p>{{obj.title}}</p>
            <p>{{obj.price}}</p>
            <p>{{obj.districtName}}</p>
        </div>
    </div>
    <div class="aboutUs">
        <div>
            <ul>
                <li><a href="javascript:void(0)">首页<span>|</span></a></li>
                <li><a href="javascript:void(0)">订单<span>|</span></a></li>
                <li><a href="javascript:void(0)">登录</a></li>
            </ul>
        </div>
        <div class="app">
            <img lazy-src="img/icon_apple@2x.png"/>
            <img lazy-src="img/icon_android@2x.png"/>
        </div>
        <div class="copyright">
            <p>关于我们</p>
            <p>Copyright YHOUSE moblie</p>
        </div>
    </div>
</div>


