.storeHead{
	display: flex;
	width: 100%;
	height: 2.25rem;
	justify-content: space-between;
	align-items: center;
}
.storeHead>h2{
	width: 80%;
	height: 100%;
	line-height: 2.25rem;
	text-align: center;
	margin: 0 auto;
	color: #111;
	font-weight: 700;
	font-size: 1rem;
}
.storeHead>a{
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	
}
.spback{
	background-position: 0 center;
	padding: 0.2rem;
}
.spback>div{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../../../../img-h/special.png) no-repeat;
	background-size: 1.8rem 0.9rem;
}
.sphome{
	background-position: 0 center;
	padding: 0.2rem;
}
.sphome>div{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../../../../img-h/special.png) no-repeat;
	background-size: 1.8rem 0.9rem;
	background-position: -0.9rem 0;
}
.swiper-container{
	width: 100%;
	height: 11.7rem;
	position: relative;
}
.swiper-wrapper{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	width: 100%;
	height: 100%;
}
.swiper-slide>img{
	width: 100%;
	height: 100%;
}
.icon{
	width: 2rem;
	height: 2rem;
	position: absolute;
	left: 9rem;
	top: 13rem;
	z-index: 1000;
}
.icon>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid #666666;
}
.artical{
	width: 100%;
	
}
.articalss{
	width: 100%;
	padding: 0 1rem;
	padding-top: 1rem;
}
.huisuo{
	width: 16.75rem;
	height: 3.15rem;
	line-height: 3.15rem;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 700;
	color: #111;
}
.averageperson{
	width: 16.75rem;
	height: 1.65rem;
	line-height: 1.65rem;
	text-align: center;
	font-size: 0.7rem;
	color: #111;
}
.collect{
	width: 16.75rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.6rem;
	color: #555;
}
.collect>span{
	width: 3.8rem;
	height: 0.7rem;
	line-height: 0.7rem;
	background-image: url(../../../../img-h/start.png);
	background-size: 0.75rem auto;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:0.95rem;
}
.addressDetail{
	width: 16.75rem;
	height: 2.8rem;
	padding: 0.5rem 0 0.25rem;
	font-size: 0.7rem;
	color: #111;
	display: flex;
	align-items: center;
}
.storeAddress{
	width: 11.25rem;
	height: 1rem;
	line-height: 1rem;
	text-align: left;
	margin-right: 1rem;
}
.addressicon,.telicon{
	width: 1.35rem;
	height: 1.35rem;
}
.addressicon{
	background-image: url(../../../../img-h/addressAndnum.png);
	background-size: 3rem 1.5rem;
	background-position: -1.5rem 0;
	background-repeat: no-repeat;
	margin-right: 1rem;
}
.telicon{
	background-image: url(../../../../img-h/addressAndnum.png);
	background-size: 3rem 1.5rem;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.storetwindow{
	width: 16.75rem;
	height: 2.75rem;
	background: url(../../../../img-h/lujiao.png) 1.9rem center no-repeat rgba(255,255,255,0.95);
	background-size: auto 1.75rem;
	position: relative;
}
.storeopenApp{
	width: 4.25rem;
	height: 1.75rem;
	line-height: 1.75rem;
	border-radius: 0.3rem;
	color: #cba162;
	border: 1px solid #cba162;
	text-align: center;
	font-size: 0.7rem;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
.storeul{
	width: 16.75rem;
}
.storeul>li{
	width: 100%;
	border-top: 1px solid #808080;
	padding-bottom: 0.85rem;
}
.result>h3{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.result>h3>span{
	padding-left: 1.4rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #111111;
	background-image: url(../../../../img-h/result.png);
	background-size: 1rem auto;
	background-position: left center;
	background-repeat: no-repeat;
}
.result>div{
	width: 100%;
	height: 6.2rem;
	font-size: 0.7rem;
	color: #111;
}
.result>div>p{
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;text-align: center;
}
.check{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #cba162;
}
.storetopic>h3{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.storetopic>h3>span{
	padding-left: 1.4rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #111111;
	background-image: url(../../../../img-h/storetopic.png);
	background-size: 1rem auto;
	background-position: left center;
	background-repeat: no-repeat;
}
.storetopic>p{
	width: 100%;
	height: 3rem;
	margin-bottom: 0.85rem;
	font-size: 0.7rem;
	color: #111;
}
.send{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 0.7rem;
	color: #cba162;
}
.hotarticle>h3{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.hotarticle>h3>span{
	padding-left: 1.4rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #111111;
	background-image: url(../../../../img-h/hotarticle.png);
	background-size: 1rem auto;
	background-position: left center;
	background-repeat: no-repeat;
}
.hotarticle>div{
	width: 100%;
	height: 1.5rem;
	display: flex;
	justify-content: space-between;
}
.hotarticle>div>div{
	height: 100%;
	font-size: 0.7rem;
	color: #111111;
}
.hotarticle>div>div:nth-child(2){
	color: #cba162;
}
.addInfo>h3{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.addInfo>h3>span{
	padding-left: 1.4rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #111111;
	background-image: url(../../../../img-h/addinfo.png);
	background-size: 1rem auto;
	background-position: left center;
	background-repeat: no-repeat;
}
.addInfo>ul{
	width: 16rem;
	height: 3.5rem;
	display: flex;
}
.addInfo>ul>li{
	width: 25%;
	height: 2rem;
	margin-bottom: 1rem;
}
.addInfo>ul>li>i{
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 auto;
	background-image: url(../../../../img-h/addpicture.png);
	background-size: 7.5rem 8.75rem;
	background-repeat: no-repeat;
}
.addInfo>ul>li>p{
	width: 4rem;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.6rem;
	color: #111;
	text-align: center;
}
.addInfo>ul>li:nth-child(1)>i{
	background-position: -3.75rem 0;
}
.addInfo>ul>li:nth-child(2)>i{
	background-position: 0 0;
}
.addInfo>ul>li:nth-child(3)>i{
	background-position: -1.25rem -1.25rem;
}
.addInfo>ul>li:nth-child(4)>i{
	background-position: -3.75rem -1.25rem;
}
.addInfo>p{
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	font-size: 0.7rem;
	color: #111;
}
.custom{
	width: 100%;
	height: 1.45rem;
	color: #cba162;
	font-size: 0.7rem;
	line-height: 1.45rem;
	display: flex;
	justify-content: space-around;
	
}
.custom>a{
	background-repeat: no-repeat;
	background-position: left center,right center;
	background-size: 0.8rem auto,0.25rem auto;
	padding-left: 0.9rem;
	color: #cba162;
}
.online{
	background-image: url(../../../../img-h/online.png);
	
}

.telnum{
	background-image: url(../../../../img-h/telnum.png);
}