<div class="liveContent">
	<!--banner图-->
	<div class="liveBanner" ng-repeat="obj in arr">
		<a class="bannerLink" ui-sref="jiuguan">
			<img src="{{obj.picUrl}}"/>
		</a>
	</div>
	<!--人气潮Bar-->
	<div class="chaoBar">
		<h3>{{title}}</h3>
		<h4>{{viceTitle}}</h4>
		<ul class="jiubaList">
			<li ng-repeat="obj1 in arr1">
				<a href="#">
					<div class="imgBox">
						<img src="{{obj1.icon}}"/>
					</div>
					<div class="shopMsg">
						<p>{{obj1.title}}</p>
						<p>{{obj1.bdAndCs}}</p>
						<p>{{obj1.price}}</p>
					</div>
				</a>
			</li>
		</ul>
		<a ui-sref="fiveteenShop">{{contentsNumStr}}></a>
	</div>
	
	<!--酒吧-->
	<div class="barClubContent">
		<div class="barClub" ng-repeat="obj2 in itemData">
			<a href="#">
				<div class="barTitle">
					<div class="barLogo">
						<img src="{{obj2.logoUrl}}"/>
					</div>
					<div class="titleText">
						<p>{{obj2.title}}</p>
						<!--<p>{{0bj2}}</p>-->
					</div>
				</div>
				<div class="barImg">
					<img src="{{obj2.picUrl}}"/>
				</div>
				<div class="barMsg">
					<p class="barName">{{obj2.hostName}}</p>
					<p class="barAddress">{{obj2.businessesDistrict}}/{{obj2.cuisineStyle}}<a href="#" class="join">进店逛逛></a></p>
				</div>
			</a>
		</div>
	</div>
	<div class="more"><a href="#">查看更多</a></div>
	
	<div ui-view></div>
	<footer>
		<div class="row">
			<p class="clearfix">
				<a href="#cate">首页</a>
				<span>|</span>
				<a href="#">订单</a>
				<span>|</span>
				<a href="">登录</a>
			</p>
		</div>
	</footer>
	
</div>