<div class="liveContent">
	<!--banner图-->
	<div class="liveBanner" ng-repeat="obj in arr">
		<a class="bannerLink" ui-sref="jiuguan">
			<img src="{{obj.picUrl}}"/>
		</a>
	</div>
	<!--人气潮Bar-->
	<div class="chaoBar">
		<h3>{{title}}</h3>
		<h4>{{viceTitle}}</h4>
		<ul class="jiubaList">
			<li ng-repeat="obj1 in arr1">
				<a ui-sref="everShop">
					<div class="imgBox">
						<img src="{{obj1.icon}}"/>
					</div>
					<div class="shopMsg">
						<p>{{obj1.title}}</p>
						<p>{{obj1.bdAndCs}}</p>
						<p>{{obj1.price}}</p>
					</div>
				</a>
			</li>
		</ul>
		<a ui-sref="fiveteenShop">{{contentsNumStr}}></a>
	</div>
	
	<!--酒吧-->
	<div class="barClubContent">
		<div class="barClub" ng-repeat="obj2 in itemData">
			<a ui-sref="everShop">
				<div class="barTitle">
					<div class="barLogo">
						<img src="{{obj2.logoUrl}}"/>
					</div>
					<div class="titleText">
						<p>{{obj2.title}}</p>
					</div>
				</div>
				<div class="barImg">
					<img src="{{obj2.picUrl}}"/>
				</div>
				<div class="barMsg">
					<p class="barName">{{obj2.hostName}}</p>
					<p class="barAddress">{{obj2.businessesDistrict}}/{{obj2.cuisineStyle}}<a href="#" class="join">进店逛逛></a></p>
				</div>
			</a>
		</div>
	</div>
	<div class="more"><a href="#">查看更多<i class="fa fa-angle-down"></i></a></div>	
	<div class="aboutUs">
        <div>
            <ul>
                <li><a href="javascript:void(0)">首页<span>|</span></a></li>
                <li><a href="javascript:void(0)">订单<span>|</span></a></li>
                <li><a href="javascript:void(0)">登录</a></li>
            </ul>
        </div>
        <div class="app">
            <img src="img/icon_apple@2x.png"/>
            <img src="img/icon_android@2x.png"/>
        </div>
        <div class="copyright">
            <p>关于我们</p>
            <p>Copyright YHOUSE moblie</p>
        </div>
    </div>
	
</div>