#content{width: 100%;height: 100%;overflow: auto;background: #ffffff;position: fixed;top: 0;z-index: 999;}
.title{width: 100%;height: 2.25rem;padding: 0.5rem 0.5rem;text-align: center;border-bottom: 0.005rem solid #cccccc;font-size: 1rem;font-weight: bold;background: #ffffff;display: flex;z-index: 50;position: fixed;top: 0;}
.title p{text-align: center;width: 100%;height: 100%;display: inline-block;}
.title a{display: inline-block;width: 1.2rem;height: 1.2rem;position: relative;}
.title a .s1{display: block;width: 100%;height: 100%;background: url("../../../img/icon_nav@3x.png") no-repeat -0.6rem;position: absolute;top: 0.5rem;}
.title a .s2{display: block;width: 100%;height: 100%;background: url("../../../img/icon_nav@3x.png") no-repeat;position: absolute;top: 0.5rem;}

.headImg{width: 100%;height: 11.7rem;margin-top: 2.25rem;}
.headImg img{width: 100%;height: 100%;}
.headMsg{width: 100%;height: auto;padding: 1rem 1rem 0;text-align: center;font-size: 1.12rem;}
.headMsg p{line-height: 1.5rem;}
.name{font-weight:bold;}
.price{color: #cba162;}
.price span{font-size: 0.5rem;}
.like{color: grey;font-size: 0.6rem;border-bottom: 0.005rem solid #f5f5f5;}

.other{width: 100%;height: 8.45rem;font-size: 0.7rem;padding: 0.5rem 0.9rem 0;position: relative;}
.other>p{line-height: 1.5rem;}
.other>p span{width: 1.35rem;height: 1.35rem;display: inline-block;}
.duration .s1,.address .s1{display: inline-block;width: 13rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.duration .tel{background: url("../../../img/icon_sku2@2x.png") no-repeat;position: absolute;background-size: 200% 100%;margin-left: 2.5rem;}
.address .map{background: url("../../../img/icon_sku2@2x.png") no-repeat -1.35rem;position: absolute;background-size: 200% 100%;margin-left: 2.5rem;}
.app{width: 100%;height: 3.35rem;padding: 0 0.9rem;position: relative;padding-bottom: 0.6rem;border-bottom: 0.005rem solid #f5f5f5;}
.app img,.app div{display: inline-block;}
.app img{width: 8.5rem;height: 60%;margin-top: 0.65rem;}
.app div{width: 4.25rem;height: 1.75rem;color: #cba162;border: 0.005rem solid #cba162;border-radius: 0.05rem;text-align: center;line-height: 1.75rem;position: absolute;right: 0.9rem;top: 0.5rem;}

.reason{width: 16.95rem;height: 8.1rem;margin-left: 0.9rem;border-bottom: 0.005rem solid #f5f5f5;text-align: center;}
.reason .name2{font-weight: bold;margin-top: 1rem;position: relative;margin-bottom: 0.3rem;}
.reason>p span{display: inline-block;width: 1.2rem;height: 1.2rem;background: url("../../../img/special38@3x.png");background-size: 100% 100%;position: absolute;left: 5rem;}
.reason .words{font-size: 0.7rem;line-height: 1.6rem;}

.detail{width: 16.95rem;height: 9.05rem;margin-left: 0.9rem;border-bottom: 0.005rem solid #f5f5f5;text-align: center;}
.detail .name2{font-weight: bold;margin-top: 1rem;position: relative;margin-bottom: 0.3rem;}
.detail>p span{display: inline-block;width: 1.2rem;height: 1.2rem;background: url("../../../img/menu38@3x.png");background-size: 100% 100%;position: absolute;left: 5rem;}
.detail .words{font-size: 0.7rem;line-height: 1rem;}
.detail>div{width: 15.6rem;height: 3.15rem;overflow: hidden;text-align: center;margin-left: 0.65rem;}
.detail .more{color: #cba162;font-size: 0.7rem;font-weight: bold;line-height: 1.5rem;margin-bottom: 1rem;}

.attention{width: 16.95rem;height: 6.4rem;margin-left: 0.9rem;border-bottom: 0.005rem solid #f5f5f5;text-align: center;}
.attention .name2{font-weight: bold;margin-top: 1rem;position: relative;margin-bottom: 0.3rem;}
.attention>p span{display: inline-block;width: 1.2rem;height: 1.2rem;background: url("../../../img/facilities38@3x.png");background-size: 100% 100%;position: absolute;left: 5rem;}
.attention .words{font-size: 0.6rem;line-height: 2rem;}

.tips{width: 16.95rem;height: 10.15rem;margin-left: 0.9rem;border-bottom: 0.005rem solid #f5f5f5;text-align: center;}
.tips .name2{font-weight: bold;margin-top: 1rem;position: relative;margin-bottom: 0.3rem;}
.tips>p{font-size: 0.7rem;line-height: 1.5rem;}
.tips .name2 span{display: inline-block;width: 1.2rem;height: 1.2rem;background: url("../../../img/tips38@3x.png");background-size: 100% 100%;position: absolute;left: 5rem;}
.tips .words{font-size: 0.6rem;line-height: 2rem;}
.tips .book span{display: inline-block;width: 0.7rem;height: 0.7rem;background: url("../../../img/icon_sku_right@2x.png");background-size: 100% 100%;margin: 0.5rem 0.5rem 0;}
.tips .service{color: #cba162;}
.tips .service span{display: inline-block;width: 0.85rem;height: 0.85rem;margin: 0.5rem 0.3rem 0;}
.tips .service .s1{background: url("../../../img/icon_sku_chat@2x.png");background-size: 100% 100%;}
.tips .service .s2{background: url("../../../img/icon_sku_service@2x.png");background-size: 100% 100%;}

/*关于我们*/
.aboutUs{width: 100%;height: 10.6rem;padding: 1.3rem 0;background: #f5f5f5;margin-bottom: 2.5rem;}
.aboutUs div{width: 100%;height: 2.25rem;}
.aboutUs ul{padding: 0 2.3rem;}
.aboutUs ul li{float: left;width: 4.65rem;height: 2.25rem;line-height: 2.25rem;text-align: center;font-size: 0.7rem;}
.aboutUs ul li span{float: right;}
.aboutUs .app{width: 100%;height: 2rem;display: flex;justify-content: space-around;padding: 0 2rem;margin: 0.85rem 0 1.3rem 0;}
.aboutUs img{width: 6.6rem;height: 2rem;display: inline-block;}
.aboutUs .copyright{width: 100%;height: 1.6rem;font-size: 0.7rem;text-align: center;}
.aboutUs .copyright p:last-child{color: #cccccc;font-size: 0.5rem;margin-top: 0.1rem;}

.buyNow{width: 100%;height: 2.5rem;background: #cba162;line-height: 2.5rem;text-align: center;color: #ffffff;font-size: 0.8rem;position: fixed;bottom: 0;}

/*地图*/
#map{width: 100%;height: 100%;background: #ffffff;z-index: 999;position: fixed;top: 0;}
#map span{float: right;margin: 0.5rem 0.5rem 0 0;display: block;width: 1rem;height: 1rem;font-size: 0.8rem;background: #F5F5F5;border-radius: 50%;text-align: center;line-height: 1rem;}