<div class="renqichaoba">
	<div class="renqiChaoBar">
		<a ui-sref="nightlife"><i class="fa fa-angle-left"></i></a>
		<div class="topTitle">专题详情</div>
		<a ui-sref="cate"><i class="fa fa-home"></i></a>
	</div>
	<div class="fiveteenShopContent">
		<div class="picUrl">
			<img lazy-src="{{picUrl}}"/>
		</div>
		<div class="floor1">
			<div class="msg">
				<p ng-repeat="obj in topicDescription">{{obj.innerHTML}}</p>
			</div>
		</div>
		<!---->
		<div class="img-wrap" ng-repeat="obj in contentList">
		<a href="#">
			<div class="img-wrap-box">
				<img src="{{obj.picUrl}}" />
			</div>
			<div class="backcover"></div>
			<div class="img-wrap-text">
				<p>{{obj.hostName}}</p>
				<p>{{obj.price}}</p>
				<p>{{obj.districtName}}&nbsp;|&nbsp;{{obj.cuisineStyle}}</p>
			</div>
		</a>
	</div>
	</div>
	
	 <div class="aboutUs">
        <div>
            <ul>
                <li><a href="javascript:void(0)">首页<span>|</span></a></li>
                <li><a href="javascript:void(0)">订单<span>|</span></a></li>
                <li><a href="javascript:void(0)">登录</a></li>
            </ul>
        </div>
        <div class="app">
            <img lazy-src="img/icon_apple@2x.png"/>
            <img lazy-src="img/icon_android@2x.png"/>
        </div>
        <div class="copyright">
            <p>关于我们</p>
            <p>Copyright YHOUSE moblie</p>
        </div>
    </div>
	
</div>